body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #333;
    width: 100%;
    color: white;
    
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
h1 {
    font-size: 1em;
    margin: 0;
    padding-left: 20px; 
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
.pill-button {
  background-color: #04AA6D; 
  border: none;              /* Remove  border */
  color: white;             
  padding: 15px 32px;        
  text-align: center;        
  text-decoration: none;    
  display: inline-block;   
  font-size: 16px;          
  margin: 4px 2px;           
  cursor: pointer;           
  border-radius: 17px;       /* Rounded corners  */
}



